<% include ../partials/header %>

<main id="body" class="container admin-main">
    <div class="row">
        <div class="col-lg-4">
            <a href="/admin/courses/" class="admin-card admin-card-courses">
                <header class="admin-card__header">
                    <h1 class="text-center">Courses</h1>
                </header>
                <img src="/templates/img/admin-icons/book.svg" alt="" class="admin-card__icon">
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/admin/users/" class="admin-card admin-card-users">
                <header class="admin-card__header">
                    <h1 class="text-center">Users</h1>
                </header>
                <img src="/templates/img/admin-icons/user.svg" alt="" class="admin-card__icon">
            </a>
        </div>

        <div class="col-lg-4">
            <a href="/admin/carousel/" class="admin-card admin-card-carousel">
                <header class="admin-card__header">
                    <h1 class="text-center">Carousel</h1>
                </header>
                <img src="/templates/img/admin-icons/image.svg" alt="" class="admin-card__icon">
            </a>
        </div>
        
    </div>
</main>

<% include ../partials/footer %>