<% include ../partials/header %>

<form action='/admin/courses'>
<input type='submit' value='COURSES' />
</form>

<form action='/admin/users'>
    <input type='submit' value='USERS' />
</form>

<form action='/admin/carousel'>
    <input type='submit' value='CAROUSEL' />
</form>

<% include ../partials/footer %>