
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <ul class="social-networks">
                    <li>
                        <a href="#" class="social-link">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 text-right align-self-center">
                <a href="#" class="about-link">About Us</a>
            </div>
        </div>
        <p class="text-center copyright m-0">&copy; Riitech Academy</p>
    </div>
</footer>
</div>


<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/7ef7f39f18.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/form.js"></script>
</body>

</html>