<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>RiiTech Academy API Describe</title>
</head>

<body>
    <h2>Route Describe</h2>
    <table class="table table-hover">
        <tr>
            <th>
                Method:
            </th>
            <th>
                Route:
            </th>
            <th>
                Response:
            </th>
        </tr>
        <tr>
            <th>
                POST
            </th>
            <th>
                /v1/register
            </th>
            <th>
                json(err) || json("registerSuccess": true)
            </th>
        </tr>

        <tr>
            <th>
                POST
            </th>
            <th>
                /v1/login
            </th>
            <th>
                json(err) || json("loginSuccess": true)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/logout
            </th>
            <th>
                json(err) || json("logoutSuccess": true)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/carousel
            </th>
            <th>
                json(err) || json(carousels)
            </th>
        </tr>

        <tr>
            <th>
                POST
            </th>
            <th>
                /v1/carousel
            </th>
            <th>
                json(err) || json(success: true)
            </th>
        </tr>

        <tr>
            <th>
                DELETE
            </th>
            <th>
                /v1/carousel/delete/:id
            </th>
            <th>
                json(err) || json(success: true)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/courses
            </th>
            <th>
                json(err) || json(allCourses)
            </th>
        </tr>

        <tr>
            <th>
                POST
            </th>
            <th>
                /v1/courses/new
            </th>
            <th>
                json(err) || json(success: true)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/courses/:id
            </th>
            <th>
                json(err) || json(foundCourse)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/courses/:id/edit
            </th>
            <th>
                json(err) || json(foundCourse)
            </th>
        </tr>

        <tr>
            <th>
                PUT
            </th>
            <th>
                /v1/courses/:id
            </th>
            <th>
                json(err) || json(success: true)
            </th>
        </tr>

        <tr>
            <th>
                DELETE
            </th>
            <th>
                /v1/courses/:id
            </th>
            <th>
                json(err) || json("success": true)
            </th>
        </tr>

        <tr>
            <th>
                POST
            </th>
            <th>
                /v1/enroll/:cId
            </th>
            <th>
                json(err) || json("enrollSuccess": true)
            </th>
        </tr>

        <tr>
            <th>
                POST
            </th>
            <th>
                /v1/enroll/unenroll/:cId
            </th>
            <th>
                json(err) || json("unEnrolled": true) || json("allreadyUnenrolled": true)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/users
            </th>
            <th>
                json(err) || json(allUsers)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/users/:id
            </th>
            <th>
                json(err) || json(foundUser)
            </th>
        </tr>

        <tr>
            <th>
                GET
            </th>
            <th>
                /v1/users/:id/edit
            </th>
            <th>
                json(err) || json(foundUser)
            </th>
        </tr>

        <tr>
            <th>
                PUT
            </th>
            <th>
                /v1/users/:id
            </th>
            <th>
                json(err) || json("updateSuccess": true)
            </th>
        </tr>

        <tr>
            <th>
                DELETE
            </th>
            <th>
                /v1/users/:id
            </th>
            <th>
                json(err) || json("Deleted": true)
            </th>
        </tr>
    </table>
</body>

</html>