<!DOCTYPE html>
<html lang="en">.


        <HEAD>
                
                <SCRIPT LANGUAGE="JavaScript">
                var dDate = new Date();
                var dCurMonth = dDate.getMonth();
                var dCurDayOfMonth = dDate.getDate();
                var dCurYear = dDate.getFullYear();
                var objPrevElement = new Object();
                
                function fToggleColor(myElement) {
                var toggleColor = "#ff0000";
                if (myElement.id == "calDateText") {
                if (myElement.color == toggleColor) {
                myElement.color = "";
                } else {
                myElement.color = toggleColor;
                   }
                } else if (myElement.id == "calCell") {
                for (var i in myElement.children) {
                if (myElement.children[i].id == "calDateText") {
                if (myElement.children[i].color == toggleColor) {
                myElement.children[i].color = "";
                } else {
                myElement.children[i].color = toggleColor;
                            }
                         }
                      }
                   }
                }
                function fSetSelectedDay(myElement){
                if (myElement.id == "calCell") {
                if (!isNaN(parseInt(myElement.children["calDateText"].innerText))) {
                myElement.bgColor = "#c0c0c0";
                objPrevElement.bgColor = "";
                document.all.calSelectedDate.value = parseInt(myElement.children["calDateText"].innerText);
                objPrevElement = myElement;
                      }
                   }
                }
                function fGetDaysInMonth(iMonth, iYear) {
                var dPrevDate = new Date(iYear, iMonth, 0);
                return dPrevDate.getDate();
                }
                function fBuildCal(iYear, iMonth, iDayStyle) {
                var aMonth = new Array();
                aMonth[0] = new Array(7);
                aMonth[1] = new Array(7);
                aMonth[2] = new Array(7);
                aMonth[3] = new Array(7);
                aMonth[4] = new Array(7);
                aMonth[5] = new Array(7);
                aMonth[6] = new Array(7);
                var dCalDate = new Date(iYear, iMonth-1, 1);
                var iDayOfFirst = dCalDate.getDay();
                var iDaysInMonth = fGetDaysInMonth(iMonth, iYear);
                var iVarDate = 1;
                var i, d, w;
                if (iDayStyle == 2) {
                aMonth[0][0] = "Sunday";
                aMonth[0][1] = "Monday";
                aMonth[0][2] = "Tuesday";
                aMonth[0][3] = "Wednesday";
                aMonth[0][4] = "Thursday";
                aMonth[0][5] = "Friday";
                aMonth[0][6] = "Saturday";
                } else if (iDayStyle == 1) {
                aMonth[0][0] = "Sun";
                aMonth[0][1] = "Mon";
                aMonth[0][2] = "Tue";
                aMonth[0][3] = "Wed";
                aMonth[0][4] = "Thu";
                aMonth[0][5] = "Fri";
                aMonth[0][6] = "Sat";
                } else {
                aMonth[0][0] = "Su";
                aMonth[0][1] = "Mo";
                aMonth[0][2] = "Tu";
                aMonth[0][3] = "We";
                aMonth[0][4] = "Th";
                aMonth[0][5] = "Fr";
                aMonth[0][6] = "Sa";
                }
                for (d = iDayOfFirst; d < 7; d++) {
                aMonth[1][d] = iVarDate;
                iVarDate++;
                }
                for (w = 2; w < 7; w++) {
                for (d = 0; d < 7; d++) {
                if (iVarDate <= iDaysInMonth) {
                aMonth[w][d] = iVarDate;
                iVarDate++;
                      }
                   }
                }
                return aMonth;
                }
                function fDrawCal(iYear, iMonth, iCellWidth, iCellHeight, sDateTextSize, sDateTextWeight, iDayStyle) {
                var myMonth;
                myMonth = fBuildCal(iYear, iMonth, iDayStyle);
                document.write("<table border='1'>")
                document.write("<tr>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][0] + "</td>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][1] + "</td>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][2] + "</td>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][3] + "</td>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][4] + "</td>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][5] + "</td>");
                document.write("<td align='center' style='FONT-FAMILY:Arial;FONT-SIZE:12px;FONT-WEIGHT: bold'>" + myMonth[0][6] + "</td>");
                document.write("</tr>");
                for (w = 1; w < 7; w++) {
                document.write("<tr>")
                for (d = 0; d < 7; d++) {
                document.write("<td align='left' valign='top' width='" + iCellWidth + "' height='" + iCellHeight + "' id=calCell style='CURSOR:Hand' onMouseOver='fToggleColor(this)' onMouseOut='fToggleColor(this)' onclick=fSetSelectedDay(this)>");
                if (!isNaN(myMonth[w][d])) {
                document.write("<font id=calDateText onMouseOver='fToggleColor(this)' style='CURSOR:Hand;FONT-FAMILY:Arial;FONT-SIZE:" + sDateTextSize + ";FONT-WEIGHT:" + sDateTextWeight + "' onMouseOut='fToggleColor(this)' onclick=fSetSelectedDay(this)>" + myMonth[w][d] + "</font>");
                } else {
                document.write("<font id=calDateText onMouseOver='fToggleColor(this)' style='CURSOR:Hand;FONT-FAMILY:Arial;FONT-SIZE:" + sDateTextSize + ";FONT-WEIGHT:" + sDateTextWeight + "' onMouseOut='fToggleColor(this)' onclick=fSetSelectedDay(this)> </font>");
                }
                document.write("</td>")
                }
                document.write("</tr>");
                }
                document.write("</table>")
                }
                function fUpdateCal(iYear, iMonth) {
                myMonth = fBuildCal(iYear, iMonth);
                objPrevElement.bgColor = "";
                document.all.calSelectedDate.value = "";
                for (w = 1; w < 7; w++) {
                for (d = 0; d < 7; d++) {
                if (!isNaN(myMonth[w][d])) {
                calDateText[((7*w)+d)-7].innerText = myMonth[w][d];
                } else {
                calDateText[((7*w)+d)-7].innerText = " ";
                         }
                      }
                   }
                }
                // End -->
                </script>
                </head>
                </HEAD>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Riitech Academy </title>
    
</head>

<body class="profileBackground">
    <div id="main-container">

        <header id="header">

            <nav class="navbar navbar-expand-lg fixed-top navigation" id="nav-main">
                <div class="container">
                    <a class="navbar-brand" href="#">Riitech Academy</a>
                    <button class="navbar-toggler collapsed float-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="hamburger-menu"></span>
                        <span class="hamburger-menu"></span>
                        <span class="hamburger-menu"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <hr class="nav-divider" />
                            <li class="nav-item">
                                <a class="nav-link nav-button" href="#">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-button" href="#">Signup</a>
                            </li>
                            <hr class="nav-divider" />
                            <li class="nav-item">
                                <div class="dropdown text-center">
                                    <a class="dropdown-toggle nav-link btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Language
                                    </a>
                                    <div class="dropdown-menu dropdown-language text-center" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item language language-sr" href="#">Srpski</a>
                                        <a class="dropdown-item language language-en" href="#">English</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


        </header>




        <main id="body">
            <div class="profileBody container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="column container text-center">
                            <img class="profileImage" src="./img/user.png" alt="UserPicture">
                            <div class="text-profile">
                                <div class="row profile-info-centar">
                                    First name:
                                    <span>Blagoje</span>

                                </div>
                                <div class="row profile-info-centar">
                                    Last name:
                                    <span>Vukovic</span>
                                </div>
                                <div class="row profile-info-centar">
                                    Username:
                                    <span>BlagojeV</span>
                                </div>

                                <button>Edit Profile</button>

                            </div>

                            <section class="centers">
                                
                                            
                                            <script language="JavaScript" for=window event=onload>
                                            
                                            var dCurDate = new Date();
                                            frmCalendarSample.tbSelMonth.options[dCurDate.getMonth()].selected = true;
                                            for (i = 0; i < frmCalendarSample.tbSelYear.length; i++)
                                            if (frmCalendarSample.tbSelYear.options[i].value == dCurDate.getFullYear())
                                            frmCalendarSample.tbSelYear.options[i].selected = true;
                                            //  End -->
                                            </script>
                                        
                                            <form name="frmCalendarSample" method="post" class="editcalendar"  action="">
                                            <input type="hidden" name="calSelectedDate" value="">
                                            <div class="forma" >
                                            <table border="1">
                                            <tr>
                                            <td >
                                            <select  name="tbSelMonth" onchange='fUpdateCal(frmCalendarSample.tbSelYear.value, frmCalendarSample.tbSelMonth.value)'>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                            </select>
                                              
                                            <select  name="tbSelYear" onchange='fUpdateCal(frmCalendarSample.tbSelYear.value, frmCalendarSample.tbSelMonth.value)'>
                                            
                                            <option value="2004">2018</option>
                                            <option value="2004">2019</option>
                                            <option value="2004">2020</option>
                                            <option value="2004">2021</option>
                                            <option value="2004">2022</option>
                                            <option value="2004">2023</option>
                                            <option value="2004">2024</option>
                                            <option value="2004">2025</option>
                                            </select>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td class="tablelement">
                                            <script language="JavaScript">
                                            var dCurDate = new Date();
                                            fDrawCal(dCurDate.getFullYear(), dCurDate.getMonth()+1, 30, 30, "12px", "bold", 1);
                                            </script>
                                            </td>
                                            </tr>
                                            </table>
                                            </form>
                                         </div>
                                          
                                          
                            </section>

                        </div>

                    </div>


                    <div class="col-lg-7 col-md-12 col-sm-12 ">
                        <h1 class="text-center profile-header">Your Courses</h1>
                        <div>
                            <div>
                                <div class="course course-type-css cardMarginTop">
                                    <div class="course-card">
                                        <header class="course-header container-fluid courseTitle">

                                            <h2 class="text-center m-0 py-1">CSS</h2>

                                        </header>

                                        <div class="column courseContent ">
                                            <div class="row margin-remove">
                                                <p>Started at:
                                                    <span>17.11.1847.</span>
                                                </p>

                                            </div>
                                            <div class="progress progressWidth">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                            </div>
                                        </div>

                                        <footer class="course-footer html-color">
                                            <a href="#" class="btn profileCourseBtn">Continue</a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="course course-type-js cardMarginTop">
                                    <div class="course-card">
                                        <header class="course-header container-fluid courseTitle">

                                            <h2 class="text-center m-0 py-1">JS</h2>

                                        </header>

                                        <div class="column courseContent ">
                                            <div class="row margin-remove">
                                                <p>Started at:
                                                    <span>17.11.1847.</span>
                                                </p>
                                            </div>
                                            <div class="progress progressWidth">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                                            </div>
                                        </div>

                                        <footer class="course-footer html-color">
                                            <a href="#" class="btn profileCourseBtn">Continue</a>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </main>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <ul class="social-networks">
                            <li>
                                <a href="#" class="social-link">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-link">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="social-link">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 text-right align-self-center">
                        <a href="#" class="about-link">About Us</a>
                    </div>
                </div>
                <p class="text-center copyright m-0">&copy; Riitech Academy</p>
            </div>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/7ef7f39f18.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>