<% include ../partials/header %>

    <form action='/admin/carousel' method='POST' enctype="multipart/form-data">
        Link: <input type='text' name='link' />
        File: <input type='file' name='pic' />
        <input type='submit' />
    </form>

<% include ../partials/footer %>