.editCourseFields {
    padding: 0 20px;
    text-align: left;
}

.submitButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.editCourseBtn {
    margin: 15px;
    
}

