.okvir {
    border: 4px solid black;
}

.userEditMain {
    margin-top: 20px;
    padding: 0px;
 
}

.headingSection {
    padding-bottom: 20px;
    padding-top: 10px;
 
}

.courseInput {
    height: 200px;
    width: 300px;
    border: 2px solid #7e7c7c;
    padding: 5px;
}

.userEditPic {
    padding: 10px;
    border: 2px solid #7e7c7c;
    margin: 30px;
    background: white;
}

.userEditPicDiv {
    display: flex;
    justify-content: center;
}

.editSubmitBtn {
    margin: 50px;
    height: 50px;
    width: 100px;
    font-size: 20px;
  }

@media (min-width: 768px) {
    .editInput {
      border-spacing: 30px;
      border-collapse: separate;
    }
}
@media (max-width: 767px) {
    .editInput {
      border-spacing: 7px;
      border-collapse: separate;
    }
}

.userEditSubmit {
    margin-bottom: 10px;
}

.userEditCourseBtn {
    margin-bottom: 5px;
}

.userEditCourseBtn input {
    margin: 4px 4px 0px 4px;
}


.userEditTypeBtnDiv {
    padding-bottom: 10px;
}

.userEditTable label{
    margin: 0;
    padding-right: 5px;
}


.row-7 label {
    font-size: 20px;
    font-weight: bold;
  } 

@media (max-width: 440px) {
  .courseInput {
    height: 130px;
    width: 130px; 
  }
  .row-7 label {
    font-size: 16px;
  } 
  .editSubmitBtn {
    margin: 10px;
    height: 25px;
    width: 70px;
    font-size: 14px;
  }
}

.row-7 select {
    font-size: 20px;
    width: auto;
}

.row-7 th {
    padding-bottom: 20px;
}

.row-7 input {
    border: 2px solid #7e7c7c;
    padding-left: 5px;
}

.editImgUser label{
    padding-right: 10px;
}

.userEditMain h2 {
    text-decoration: underline;
}

.courseInput option {
    margin-bottom: 7px;
  }

  .row-4 label {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5px;
  }
